.titleindex h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.titleindex {
  margin-top: 100px;
  margin-bottom: 25px;
}

.titleindex img {
  width: 50px;
  margin-left: 10px;
}

.card-cats {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-cats h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 14px;
}
