<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://i.dailymail.co.uk/i/pix/2014/05/29/article-2642609-1E4CB5BB00000578-70_634x449.jpg);">
  <div class="container pt-5 text-white">
    <h1 id="main-title"><strong>Adopt An Ugly Cat !</strong></h1>
    <p id="main-para" class="mb-5 pb-5">Réalisez un acte altruiste, adoptez un chat au physique ingrat pour changer sa vie et la vôtre aussi.</p>
    <%= link_to "Voir tous les Ugly Cats", cats_path, class: "btn btn-primary mt-5" %>
  </div>
</div>
