.banner {
  max-width: 100%;
  height: calc(100vh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

// .banner {
//   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url (http://i.dailymail.co.uk/i/pix/2014/05/29/article-2642609-1E4CB5BB00000578-70_634x449.jpg);

//   /* Set a specific height */
//   height: 50%;

//   /* Position and center the image to scale nicely on all screens */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }
