.card-show-cat {
  width: 700px;
  height: 700px;
  background-color: #FFFFFF;
  position: relative;
}

.rand-cats{
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  margin-top: 20px;
}

.rand-cats h4 {
  margin-bottom: 15px;
}
.rand-cats .card {
  margin-right: 10px;
}

.confirmation-purchase-cat img {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
}
