.btn-primary {
  color: white;
  border-radius: 8px;
  padding: 8px 24px;
  margin-top: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#main-title {
  font-size: 60px;
}

#main-para {
  font-size: 30px;
}
