<!-- <div class="backgroundwall" style="background-image:url('<%= image_path "fond.png" %>')"> -->

  <div class="titleindex d-flex justify-content-center">
    <h1>Adoptez-moi...</h1>
    <h2><br>Sinon Jules me mangera !</h2>
      <div class="stage">
        <div class="box bounce-6">
        <%= image_tag "chat-eps.svg", alt: "chat"%>
        </div>
      </div>
  </div>

<div class="container">
  <div class="row justify-content-center mb-4">
    <% @cats.each do |cat| %>
      <div class="card-img col-12 col-md-6 col-lg-4 mb-4">
          <% if cat.photo.attached? %>
            <div class="card-background-img" style="background-image: url(<%= cl_image_path cat.photo.key, crop: :thumb, gravity: :face  %>); height: 200, width: 300 %>">
              <button type="button" class="btn mybutton btn-light rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
              <i class="far fa-heart"></i>
            </div>
          <% else %>
            <div class="card-background-img" style="background-image: url('https://source.unsplash.com/250x183/?cats')">
              <button type="button" class="btn mybutton btn-light rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
              <i class="far fa-heart"></i>
              </button>
            </div>
          <% end %>
            <div class="card-cats">
              <h2><%= link_to cat.name, cat_path(cat) %></h2>
              <div class="card-trip-pricing">130€</div>
            </div>
      </div>
    <% end %>
  </div>
</div>
