<center><h1>Adopt' An Ugly Cat !</h1></center>

<div class="row justify-content-center">
  <% @cats.each do |cat| %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to cat_path(cat), :class => "" do %>
        <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cats,happy" alt="">
          <div class="card-cats">
            <h2><%= cat.name %></h2>
            <% end %>
          </div>
    </div>
  <% end %>
</div>
